.sighting {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120%;
}


.sightingImg {
  width: 100%;
  height: auto;
}

.sightingCard {
  width: 33%;
  height: auto;
}

.navbar {
  height: 100px;
  display: flex;
  width: 100%;
}

.navButtons {
  width: 65%;
  display: flex;
  margin-left: 600px;
  
  /* justify-content: space-between; */
  /* margin-left: 400px; */

}